{{define "welcome"}} {{template "top"}}
<main class="flex justify-center items-center min-h-screen">
  <form
    id="welcome-form"
    class="flex flex-col items-center fade-in"
    method="post"
    action="/welcome?step=2"
    hx-boost="true"
    hx-target="#welcome-form"
    hx-select="#welcome-form"
    hx-swap="outerHTML show:no-scroll swap:1s settle:0.2s"
  >
    <h1 class="text-5xl mb-8 text-center">Welcome to Local Diary!</h1>
    <a href="/welcome?step=2" class="lc-btn-icon flex-grow">
      SETUP MY DIARY!<i data-feather="chevron-right"></i>
    </a>
  </form>
</main>
{{template "bottom"}} {{end}}
