@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
.light-scroll::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.light-scroll::-webkit-scrollbar-track {
  background: #f6f6f6;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

.light-scroll::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border: 0 solid #f4f4f4;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 10%);
}

* {
  @apply text-gray-900;
  /** [word-break:break-word]; */
}

.disabled {
  pointer-events: none;
}

.min-h-screen {
  min-height: 100svh;
}

.h-screen {
  height: 100svh;
}

.min-h-screen-nav {
  min-height: calc(100vh - 60px);
}

.min-h-screen-nav {
  min-height: calc(100svh - 60px);
}

/** Lc Buttons */
.lc-btn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  @apply bg-red-500 hover:bg-red-700 text-white rounded-[0.275rem] py-[0.5rem] px-4 flex w-fit items-center transition-all duration-200;
}

.lc-btn-icon {
  @apply lc-btn;
  padding-right: 0.5rem !important;
}

.lc-btn-icon svg {
  @apply w-[1.1rem] h-[1.1rem] ml-1 stroke-white transition-all duration-200;
}

.lc-btn.secondary,
.lc-btn-icon.secondary {
  @apply bg-white border border-bmain hover:border-gray-400 text-gray-700 font-medium;
}

.lc-btn.neutral,
.lc-btn-icon.neutral {
  @apply bg-lgray border border-bmain hover:border-gray-400 text-gray-700 font-medium;
}

.lc-btn-icon.neutral svg {
  @apply stroke-1 stroke-[#374151];
}
.lc-btn-icon.neutral:hover svg {
  @apply  stroke-[#374151];
}

/** Lc Inputs */
.lc-input {
  @apply border border-bmain p-2 px-[0.75rem] transition-all duration-200;
  outline: none;
}

fieldset.lc-input-icon {
  @apply lc-input flex;
}

fieldset.lc-input-icon input {
  @apply flex-1;
  outline: none;
}

fieldset.lc-input-icon svg {
  @apply stroke-gray-400 transition-all duration-200;
}

.lc-input.round,
fieldset.lc-input-icon.round {
  @apply rounded-[0.15rem];
}
/* 
.lc-input.focusable:hover,
fieldset.lc-input-icon.focusable:hover {
  @apply border-red-500;
} */

.lc-input.focusable:focus,
fieldset.lc-input-icon.focusable:focus-within {
  @apply border-red-500 shadow-red-400;
  /* box-shadow: 0px 0px 4px 0px var(--tw-shadow-color); */
}

.lc-input.focusable:focus svg,
fieldset.lc-input-icon.focusable:focus-within svg {
  @apply stroke-gray-500;
}

/** Lc Notes Preview */
article.lc-note-preview {
  @apply overflow-hidden w-[300px] border border-bmain px-4 py-3 rounded-md;
}

article.lc-note-preview .wrapper {
  @apply overflow-hidden h-full;
}

article.lc-note-preview header {
  @apply flex items-center;
}

article.lc-note-preview .menu-icon {
  @apply stroke-gray-400;
}

article.lc-note-preview .date-creation {
  @apply text-gray-400 text-end;

  @apply text-xs;
  @apply xs:text-sm;
  @apply sm:text-sm;
}

article.lc-note-preview h1 {
  @apply [word-break:break-word] [-webkit-line-clamp:1];
  overflow: hidden;
  @apply font-semibold py-1;

  @apply text-base;
  @apply xs:text-xl;
  @apply sm:text-xl;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

article.lc-note-preview p {
  @apply [word-break:break-word] overflow-hidden flex-1 text-gray-700;

  @apply text-xs h-[7rem] [-webkit-line-clamp:7];
  @apply xs:text-base xs:h-[10.5rem];
  @apply sm:text-base;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

article.lc-note-preview.compact header {
  display: none;
}

article.lc-note-preview.compact h1 {
  padding: 0;
}

article.lc-note-preview.compact p {
  @apply [word-break:break-word] overflow-hidden flex-1 text-gray-700;

  @apply text-xs h-[4rem] [-webkit-line-clamp:4];
  @apply xs:text-base xs:h-[6rem];
  @apply sm:text-base;
}

/** Form error styles */
.error .lc-input,
.error fieldset.lc-input-icon {
  @apply shadow-red-600;
  box-shadow: 0px 0px 4px 0px var(--tw-shadow-color);
  transition: box-shadow 1s;
  border-color: red;
  border-width: 1px;
}

.form-error {
  @apply text-xs text-red-600;
}

/** Note View */

.note-view header h1.note-title {
  @apply text-4xl font-bold leading-[1.4];
}

.note-view header .bottom {
  @apply border-t border-b pt-2 pb-2 border-bsec mt-8 mb-8;
}

.note-view header .author-name {
  @apply font-medium text-gray-500;
}

.note-view header .author-avatar {
  height: 2rem;
  width: auto;
}

.note-view header svg.author-avatar {
  @apply fill-gray-500;
}

.note-view header .date-creation {
  @apply text-gray-500 text-end;
}

.note-view section.content {
  font-family: 'Noto Sans Georgian', sans-serif;
}

.note-view section.content h1 {
  @apply text-2xl font-extrabold mt-12 leading-7;
}
.note-view section.content h2 {
  @apply text-xl font-bold mt-12;
}
.note-view section.content h3 {
  @apply text-xl font-semibold mt-12; 
}

.note-view section.content p {
  @apply mb-0 leading-8 text-lg text-justify;
}

.note-view section.content p:empty + p{
  @apply mt-8;
}
.note-view section.content h1 + p,
.note-view section.content h2 + p,
.note-view section.content h3 + p {
  @apply mt-3;
}

.note-view section.content img {
  @apply w-[75%] h-auto ml-auto mr-auto xs:w-[60%] sm:w-[50%]
}

.note-view section.content img.small {
  @apply w-[40%] h-auto ml-auto mr-auto xs:w-[35%] sm:w-[25%]
}

.note-view section.content img.full {
  @apply w-full
}

.note-view footer {
  @apply border-t border-bsec mt-8 pt-8;
}

.note-view footer > h1 {
  @apply text-2xl font-semibold mb-6
}

/** Shadows */
.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
