@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply text-gray-900
}

.min-h-screen {
  min-height: 100svh;
}

.h-screen {
  height: 100svh;
}

.min-h-screen-nav {
  min-height: calc(100vh - 80px)
}

.min-h-screen-nav {
  min-height: calc(100svh - 80px)
}

/** Lc Buttons */
.lc-btn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  @apply bg-red-500 hover:bg-red-700 text-white rounded-[0.275rem] py-[0.5rem] px-4 flex w-fit items-center;
}

.lc-btn-icon {
  @apply lc-btn;
  padding-right: 0.5rem !important;
}

.lc-btn-icon svg {
  @apply w-[1.1rem] h-[1.1rem] ml-1 stroke-white;
}

.lc-btn.secondary,
.lc-btn-icon.secondary {
  @apply bg-white hover:bg-lgray border border-gray-700 text-gray-700 font-medium;
}

.lc-btn.neutral,
.lc-btn-icon.neutral {
  @apply bg-lgray border border-bgray2 hover:border-gray-700 text-gray-700 font-medium;
}

/** Lc Inputs */
.lc-input {
  @apply border border-bgray2 p-2 px-[0.75rem];
  outline: none;
}

fieldset.lc-input-icon {
    @apply lc-input flex;
}

fieldset.lc-input-icon input {
    @apply flex-1;
    outline: none;
}

fieldset.lc-input-icon svg {
  @apply stroke-gray-400
}

.lc-input.round,
fieldset.lc-input-icon.round {
  @apply rounded-[0.15rem];
}

.lc-input.focusable:focus,
fieldset.lc-input-icon.focusable:focus-within {
  @apply border-red-500 shadow-red-400;
  box-shadow: 0px 0px 4px 0px var(--tw-shadow-color);
}

.lc-input.focusable:focus svg,
fieldset.lc-input-icon.focusable:focus-within svg {
  
  @apply stroke-gray-500
}

/** Lc Notes */
article.lc-note-preview {
  @apply overflow-hidden w-[300px] aspect-[300/220] border-4 border-gray-300 px-4 py-3 rounded-md
}

article.lc-note-preview .wrapper {
  @apply overflow-hidden h-full
}

article.lc-note-preview header {
  @apply flex items-center
}

article.lc-note-preview .menu-icon {
  @apply stroke-gray-400
  
}

article.lc-note-preview .date-creation{
  @apply text-gray-400;

  @apply text-xs;
  @apply xs:text-sm;
  @apply sm:text-sm;
}

article.lc-note-preview h1 {
  @apply font-semibold py-1;

  @apply text-base;
  @apply xs:text-xl;
  @apply sm:text-xl;
}

article.lc-note-preview p {
  @apply overflow-hidden flex-1 text-gray-700;

  @apply text-xs h-[7rem] [-webkit-line-clamp:7];
  @apply xs:text-base xs:h-[10.5rem];
  @apply sm:text-base;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/** Form error styles */
.error .lc-input, .error fieldset.lc-input-icon {
  @apply shadow-red-600;
  box-shadow: 0px 0px 4px 0px var(--tw-shadow-color);
  transition: box-shadow 1s;
  border-color: red;
  border-width: 1px;
}

.form-error {
  @apply text-xs text-red-600
}

/** Shadows */
.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}