{{define "example-notes"}}
<div class="flex flex-col gap-1">
  <article class="lc-note-preview">
    <div class="wrapper">
      <header>
        <span class="date-creation">11 January 2023</span>
        <i class="ml-auto menu-icon" data-feather="more-horizontal"></i>
      </header>
      <h1>Note Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus
        purus tellus. Nunc ipsum ligula, fringilla vel urna eget, facilisis
        viverra purus. Aenean nec libero nec nibh hendrerit sodales at eu purus.
        Duis auctor laoreet arcu, a volutpat libero semper quis. Maecenas non
        ipsum sit amet leo lobortis sodales ut.
      </p>
    </div>
  </article>
</div>
{{end}}
