{{define "tailwind-text"}}
{{if eq .Example 1.0}}
<h1 class="text-9xl">Text 9XL</h1>
<h1 class="text-8xl">Text 8XL</h1>
<h1 class="text-7xl">Text 7XL</h1>
<h1 class="text-6xl">Text 6XL</h1>
<h1 class="text-5xl">Text 5XL</h1>
<h1 class="text-4xl">Text 4XL</h1>
<h1 class="text-3xl">Text 3XL</h1>
<h1 class="text-2xl">Text 2XL</h1>
<h1 class="text-xl">Text XL</h1>
<h1 class="text-lg">Text LG</h1>
<h1 class="text-base">Text BS</h1>
<h1 class="text-sm">Text SM</h1>
<h1 class="text-xs">Text XS</h1>
{{end}}
{{if eq .Example 2.0}}
<h1 class="text-4xl font-black">Font Black</h1>
<h1 class="text-4xl font-extrabold">Font Extra Bold</h1>
<h1 class="text-4xl font-bold">Font Bold</h1>
<h1 class="text-4xl font-semibold">Font Semibold</h1>
<h1 class="text-4xl font-medium">Font Medium</h1>
<h1 class="text-4xl font-normal">Font Normal</h1>
<h1 class="text-4xl font-light">Font Light</h1>
<h1 class="text-4xl font-extralight">Font Extralight</h1>
<h1 class="text-4xl font-thin">Font Thin</h1>
{{end}}
{{if eq .Example 3.0}}
<h1 class="text-4xl font-bold">Title H1 Bold</h1>
<h1 class="text-4xl font-semibold">Title H2 Semibold</h1>
<h1 class="text-4xl font-medium">Title H3 Medium</h1>
<h1 class="text-4xl font-normal">Parag P Normal</h1>
<h1 class="text-4xl font-light">Parag P Light</h1>
<hr class="h-0.5 my-3 bg-black border-0" >
<h1 class="text-4xl font-bold  text-gray-900">Gray 900</h1>
<h1 class="text-4xl font-bold text-gray-800">Gray 800</h1>
<h1 class="text-4xl font-bold text-gray-700">Gray 700</h1>
<h1 class="text-4xl font-bold  text-gray-600">Gray 600</h1>
<h1 class="text-4xl font-bold  text-gray-500">Gray 500</h1>
<h1 class="text-4xl font-bold  text-gray-400">Gray 400</h1>
<h1 class="text-4xl font-bold  text-gray-300">Gray 300</h1>
<hr class="h-0.5 my-3 bg-black border-0" >
<h1 class="text-4xl font-semibold  text-gray-900">Gray 900</h1>
<h1 class="text-4xl font-semibold text-gray-800">Gray 800</h1>
<h1 class="text-4xl font-semibold text-gray-700">Gray 700</h1>
<h1 class="text-4xl font-semibold  text-gray-600">Gray 600</h1>
<h1 class="text-4xl font-semibold  text-gray-500">Gray 500</h1>
<h1 class="text-4xl font-semibold  text-gray-400">Gray 400</h1>
<h1 class="text-4xl font-semibold  text-gray-300">Gray 300</h1>
<hr class="h-0.5 my-3 bg-black border-0" >
<h1 class="text-4xl font-medium  text-gray-900">Gray 900</h1>
<h1 class="text-4xl font-medium text-gray-800">Gray 800</h1>
<h1 class="text-4xl font-medium text-gray-700">Gray 700</h1>
<h1 class="text-4xl font-medium  text-gray-600">Gray 600</h1>
<h1 class="text-4xl font-medium  text-gray-500">Gray 500</h1>
<h1 class="text-4xl font-medium  text-gray-400">Gray 400</h1>
<h1 class="text-4xl font-medium  text-gray-300">Gray 300</h1>
<hr class="h-0.5 my-3 bg-black border-0" >
<h1 class="text-4xl font-normal  text-gray-900">Gray 900</h1>
<h1 class="text-4xl font-normal text-gray-800">Gray 800</h1>
<h1 class="text-4xl font-normal text-gray-700">Gray 700</h1>
<h1 class="text-4xl font-normal  text-gray-600">Gray 600</h1>
<h1 class="text-4xl font-normal  text-gray-500">Gray 500</h1>
<h1 class="text-4xl font-normal  text-gray-400">Gray 400</h1>
<h1 class="text-4xl font-normal  text-gray-300">Gray 300</h1>
<hr class="h-0.5 my-3 bg-black border-0" >
<h1 class="text-4xl font-light  text-gray-900">Gray 900</h1>
<h1 class="text-4xl font-light text-gray-800">Gray 800</h1>
<h1 class="text-4xl font-light text-gray-700">Gray 700</h1>
<h1 class="text-4xl font-light  text-gray-600">Gray 600</h1>
<h1 class="text-4xl font-light  text-gray-500">Gray 500</h1>
<h1 class="text-4xl font-light  text-gray-400">Gray 400</h1>
<h1 class="text-4xl font-light  text-gray-300">Gray 300</h1>

{{end}}
{{end}}