{{define "note-edit"}} {{template "top"}} {{template "main-navbar" .Name}}
<main
  id="main"
  class="flex flex-col items-center min-h-screen-nav px-5 py-4 md:px-10 md:py-8"
>
  <header
    hx-boost="true"
    hx-push-url="true"
    hx-target="#main"
    hx-select="#main"
    hx-swap="outerHTML show:no-scroll"
    class="flex w-full items-center max-w-screen-2xl"
  >
    <span class="text-2xl  font-medium">Create new note</span>
    <a href="/note/{{.Note.Id}}" class="lc-btn neutral ml-auto">Discard</a>
    <button
      class="lc-btn ml-3"
      onclick="noteEditor.updateNote({{.Note.Id}})"
      hx-encoding="multipart/form-data"
      hx-trigger="none"
    >
      Save Note
    </button>
  </header>
  <form hx-preserve="true" id="note-editor" class="flex w-full flex-col flex-1 max-w-screen-2xl">
    <input
      id="title"
      name="title"
      class="lc-input w-full mt-3 text-xl"
      type="text"
      placeholder="Note Title"
      value="{{.Note.Title}}"
    />
    <article id="lc-wysiwyg" x-init="noteEditor.setupEditor($el,`{{.Note.Content}}`)" class="mt-3 flex-1 !rounded-none">
      <header>
        <div class="buttons">
          <button data-role="edit" class="button" type="button">Edit</button>
          <button data-role="preview" class="button" type="button">
            Preview
          </button>
        </div>
        <span class="word-counter"
          >Word count: <span class="counter">0</span></span
        >
      </header>
      <div class="content">
        <div class="wrapper">
          <textarea
            class="edit-content-area"
            name="content"
            disabled
          ></textarea>
          <!-- Recommendation: add a class to the preview-content-area div that will bring the styles -->
          <div class="preview-content-area note-view w-full">
            <section class="content flex-col w-full"></section>
          </div>
        </div>
      </div>
    </article>
  </form>
</main>
{{template "bottom"}} {{end}}

